.login-form {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.btnn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.btnnDisable {
    background-color: #e45349;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.btnnDisable:hover {
    cursor: pointer;
    background-color: #e23023;
}


#inf {
    background-color: #50db34;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.btnn:last-child {
    margin-right: 0;
}

.btnn:hover {
    background-color: #2980b9;
}

.inf {
    background-color: #db3434;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.filtros-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Campo {
    margin-right: 5px;
}

.main-navigation {
    background-color: #d8d8d8;
}

.main-navigation a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}

.main-navigation a:hover {
    background-color: #2980b9;
    color: white;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;
        justify-content: space-between;
    }
}

.contenedorEdit {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contenedor-formularioEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CampoEdit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.contenedor-formulario {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 400px;
}

.Campo input,
.Campo select {
    width: calc(100% - 100px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.checkbox-container label {
    font-size: 16px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}